*.exe
bin/*.dll
*.pdb
*.xml
src/ReCrafted/.vs/
src/ReCrafted/obj/
src/tools/ReCrafted.VersionBuilder/obj/
src/tools/ModelConverter/obj/
src/tools/ModelConverter/.vs/
src/tools/ModelConverter/bin/
tools/obj.obj
tools/SharpDX.dll
tools/SharpDX.Mathematics.dll
