*.tmp
*.vcxproj
*.user
*.filters
*.sln
*.DotSettings

developer.json

ReCrafted3rdParty.zip

tools/*.pdb
tools/*.config
tools/*.xml

/assets/

.projects/
.vs/
build/
bin/
obj/
lib/
docfx_project/
packages/

Debug/
Release/