.projects/
username.txt
libs/
libs_temp/
build/
packages/
tools/*.pdb
.vs/
src/ReCrafted/bin/
src/ReCrafted/obj/
src/ReCrafted.API/bin/
src/ReCrafted.API/obj/
src/ReCrafted.API/docfx_project/
src/tools/ReCrafted.APIBuilder/bin/
src/tools/ReCrafted.APIBuilder/obj/
src/tools/ReCrafted.Debugger/bin/
src/tools/ReCrafted.Debugger/obj/
src/ReCrafted.ProjectTemplate/bin/
src/ReCrafted.ProjectTemplate/obj/
src/tools/ReCrafted.ShaderCompiler/bin/
src/tools/ReCrafted.ShaderCompiler/obj/
src/tools/ReCrafted.VersionBuilder/bin/
src/tools/ReCrafted.VersionBuilder/obj/
src/tools/ReCrafted.Pdb2MdbConverter/bin/
src/tools/ReCrafted.Pdb2MdbConverter/obj/
src/tools/ReCrafted.AtlasPacker/bin/
src/tools/ReCrafted.AtlasPacker/obj/
src/ReCrafted.GameTest/
src/tools/ReCrafted.LocaleConverter/bin/
src/tools/ReCrafted.LocaleConverter/obj/
ReCrafted.NET.VC.db
ReCrafted.NET.VC.VC.opendb
libs_prebuilt.zip
src/ReCrafted.ShaderCompiler/Debug/
src/ReCrafted.VoxelEditor/bin/
src/ReCrafted.VoxelEditor/obj/
