[submodule "Source/Libraries/upng"]
	path = Source/Libraries/upng
	url = https://github.com/elanthis/upng
[submodule "Source/Libraries/fmt"]
	path = Source/Libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Source/Libraries/concurrentqueue"]
	path = Source/Libraries/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "Source/Libraries/json"]
	path = Source/Libraries/json
	url = https://github.com/nlohmann/json
[submodule "Source/Libraries/imgui"]
	path = Source/Libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "Source/Libraries/sparsepp"]
	path = Source/Libraries/sparsepp
	url = https://github.com/greg7mdp/sparsepp
[submodule "Source/Libraries/ultralight"]
	path = Source/Libraries/ultralight
	url = https://github.com/ultralight-ux/ultralight
[submodule "Source/Libraries/jemalloc"]
	path = Source/Libraries/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "Source/Libraries/ReCrafted.Mono"]
	path = Source/Libraries/ReCrafted.Mono
	url = https://github.com/Erdroy/ReCrafted.Mono
[submodule "Source/Libraries/ImGui.NET"]
	path = Source/Libraries/ImGui.NET
	url = https://github.com/mellinoe/ImGui.NET
[submodule "Source/Libraries/cpp-base64"]
	path = Source/Libraries/cpp-base64
	url = https://github.com/Erdroy/cpp-base64
